@jusmundi-group:registry=https://gitlab.com/api/v4/projects/58528869/packages/npm/
//gitlab.com/api/v4/projects/58528869/packages/npm/:_authToken="${NPM_TOKEN}"
shamefully-hoist=true
strict-peer-dependencies=false
